extends layout

block content
  h1 #{title}

  form(method='POST' action=''  enctype="multipart/form-data")
    div.form-group.row.col-sm-9
      label.col-sm-3.col-form-label(for='name') Brand name:
      input#name.form-control.col-sm-9(type='text', placeholder='Name' name='name' value=(undefined===brand ? '' : brand.name))
    div.form-group.row.col-sm-9
      label.col-sm-3.col-form-label(for='description') Brand description:
      input#description.form-control.col-sm-9(type='text', placeholder='Description' name='description' value=(undefined===brand ? '' : brand.description))
    div.form-group.row.col-sm-9
      label.col-sm-3.col-form-label(for='img-file') Brand logo (optional):
      input#img-file.form-control.col-sm-9.p-1(type="file" name="img-file")

    if brand 

      div.form-group.row.col-sm-9.border.border-danger.p-2
        p.col-sm-12.text-danger Admin password required to update record
        label.col-sm-3.col-form-label(for='password') Admin password:
        input#description.form-control.col-sm-9(type='password', placeholder='Password' name='password' value='')  

    if errors 
      ul
        for error in errors
          li.text-danger.font-weight-bold!= error.msg

    button.btn.btn-primary(type='submit') Submit